<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="../dist/outside-events.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="main">
        <div class="button" @click="click" v-outside-click="clickOutside" v-if="default_event === 'click'">
          Click
        </div>
        <div class="button" @mousedown="mousedown" v-outside-mousedown="mousedownOutside" v-if="default_event === 'mousedown'">
          Mousedown
        </div>
        <div class="button" @mouseup="mouseup" v-outside-mouseup="mouseupOutside" v-if="default_event === 'mouseup'">
          mouseup
        </div>
        <div class="button" @mouseover="mouseover" v-outside-mouseover="mouseoverOutside" v-if="default_event === 'mouseover'">
          mouseover
        </div>
        <div class="button" @mousemove="mousemove" v-outside-mousemove="mousemoveOutside" v-if="default_event === 'mousemove'">
          mousemove
        </div>
        <div class="button" @touchstart="touchstart" v-outside-touchstart="touchstartOutside" v-if="default_event === 'touchstart'">
          touchstart
        </div>
        <div class="button" v-outside-touchend="touchendOutside" v-if="default_event === 'touchend'">
          touchend
        </div>
        <select v-model="default_event" @change="change">
          <option v-for="o in options">{{ o }}</option>
        </select>
      </div>
      <div class="sub">
        <ul>
          <li v-for="message in outsides">
            {{message}}
          </li>
        </ul>
      </div>
    </div>
  </body>

  <script>

    new Vue({
      el: "#app",
      data: {
        outsides: [],
        show: true,
        default_event: "click",
        options: [
          "click",
          "mousedown",
          "mouseup",
          "mouseover",
          "mousemove",
          "touchstart",
          "touchend",
          // "mouseleave",
          // "mouseout",
          // "mouseenter",
        ]
      },
      methods: {
        change: function(){
          this.outsides = [];
        },
        click: function(num){
          console.log("click");
        },
        mousedown: function(num){
          console.log("mousedown");
        },
        mouseup: function(num){
          console.log("mouseup");
        },
        mouseover: function(num){
          console.log("mouseover");
        },
        mousemove: function(num){
          console.log("mousemove");
        },
        mouseleave: function(num){
          console.log("mouseleave");
        },
        mouseout: function(num){
          console.log("mouseout");
        },
        mouseenter: function(num){
          console.log("mouseenter");
        },
        touchstart: function(num){
          console.log("touchstart");
        },
        clickOutside: function(num){
          var str = "Click outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        setClickOutside: function(num){
          var self = this;
          return function(){
            self.clickOutside(num);
          }
        },
        mousedownOutside: function(){
          var str = "mousedown outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        mouseupOutside: function(){
          var str = "mouseup outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        mouseoverOutside: function(){
          var str = "mouseover outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        mousemoveOutside: function(){
          var str = "mousemove outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        mouseleaveOutside: function(){
          var str = "mouseleave outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        mouseoutOutside: function(){
          var str = "mouseout outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        mouseenterOutside: function(){
          var str = "mouseenter outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        touchstartOutside: function(){
          var str = "touchstart outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        touchendOutside: function(){
          var str = "touchend outside !!";
          this.outsides.push(str);
          console.log(str);
        },
        clickUnbind: function(){
          this.show = !this.show;
        }
      },
      mounted: function(){
        window.app = this;
      },
      directives: {
        "outside-click": window["v-outside-events"].directive,
        "outside-mousedown": window["v-outside-events"].directive,
        "outside-mouseup": window["v-outside-events"].directive,
        "outside-mouseover": window["v-outside-events"].directive,
        "outside-mousemove": window["v-outside-events"].directive,
        "outside-touchstart": window["v-outside-events"].directive,
        "outside-touchend": window["v-outside-events"].directive,
      }
    });


  </script>


  <style>
    .main{
      background-color: #4fc08d;
      display: flex;
      padding: 50px;
      justify-content: space-between;
    }
    .button{
      cursor: pointer;
      background-color: #fff;
      padding: 0.75em 2em;
      border-radius: 2em;
      display: inline-block;
      color: #4fc08d;
      transition: all 0.15s ease;
      box-sizing: border-box;
      border: 1px solid #4fc08d;
    }
    .sub{
      padding: 50px;
      justify-content: space-between;
    }
    .switch{
      cursor: pointer;
      background-color: #ddd;
      padding: 0.75em 2em;
      border-radius: 2em;
      display: inline-block;
      color: #333;
      transition: all 0.15s ease;
      box-sizing: border-box;
      border: 1px solid #ddd;
    }


  </style>


</html>